* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

/*Her bliver navbaren stylet*/

.navbar {
    background-color: #FFF7D1;
    color: #174687;
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;
    font-size: 20px;
}

.navbar a {
    color: #174687;
    text-decoration: none;
}

.navbar a:hover {
    color: white;
}

.nav-list {
    list-style-type: none;
    
}

.nav-list .list-item {
    display: inline-block;
    padding: 20px 10px;
}


.navbar-logo {
    height: 35px;
}

.menu {
    display: none;
}

.menu-line {
    width: 20px;
    height: 3px;
    background-color: #174687;
    margin-bottom: 4px;
}

/*Big picture på forsiden*/
.bigpictureMobile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}

.bigpictureWeb {
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}

/* Menu oversigt */

.bertamenu {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.menuoverskrift {
    color: #174687;
    margin: auto;
    width: 50%;
    padding: 10px;
}

/*Forside styling*/
.dummy {
    width: 100%;
    margin-top: 20px;
}

.button-front {
    background-color: #174687;
        border: none;
        color: white;
        padding: 15px 30px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 5px;
}




.flex-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #174687;
}

.container-front {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.container-front p, h2 {
    margin-top: 20px;
}

.container-front1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.container-front1 p, h2 {
    margin-top: 20px;
}


/*Om os siden styling*/
.about-container {
    display: inline-block;
    text-align: center;
}

/*
.about-container img {
    width: 100%;
    margin-top: 20px;
}
*/

.about-img, .front-image {
    width: 100%;
    transform: translateX(50%);
    opacity: 0;
    transition: all 500ms;
}

.front-image {
    width: 100%;
    transform: translateX(50%);
    opacity: 0;
    transition: all 500ms;
    margin: 20px;
}

.fade {
    transform: translateX(0);
    opacity: 1.0;
    transition: all 500ms;
}


.about-container p {
    margin-top: 40px;
    text-align: left;
    width: 80%;
    line-height: 1.7;
    margin-left: auto;
    margin-right: auto;
}


.aboutText, .konceptText, .indexText {
    opacity: 0;
    position: relative;
    bottom: -40px;
    transition: all 0.8s ease-out;
}

.indexText {
    bottom: -20px;
   
}




.show {
    opacity: 1;
    bottom: 0;
}


.about-container h2 {
    color: #174687;
    margin-bottom: 20px;
}

.history {
    margin-bottom: 60px;
}

.values {
    margin-bottom: 60px;
}

.about-line {
    border-top: 2px solid #e0d186;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

/*
Menu styling
*/
.menu-container {
    text-align: center;
}

.menu-container p {
    margin-top: 40px;
    text-align: center;
    width: 80%;
    line-height: 1.7;
    margin-left: auto;
    margin-right: auto;
}

.menu-container h2 {
    color: #174687;
}


/*Footer styling*/
footer {
    background-color: #174687;
    position: relative;
}
.column-footer {
    float: left;
    width: 33.33%;
    color: #FFF7D1;
  }

.column-footer h2 {
    margin-top: 20px;
}
  
  /* Fjerne floats efter det her */
  .row-footer:after {
    content: "";
    display: table;
    clear: both;
  }

  .footer-text {
      color: white;
      margin-top: 15px;
      
  }


  .center-footer {
      text-align: center;
  }

  .left-align {
    display: inline-block;
    text-align: left;
    
  }

  .social-icons {
      position: absolute;
      bottom: 0;
     
  }

  .flex-contact {
      display: flex;
      flex-direction: column;
  }

  .icon-text {
      display: flex;
      flex-direction: row;
      margin-top: 15px;
  }

  

/*Her bliver der lavet media queries*/
@media all and (max-width: 480px) {
    /*Navbar regler for mobil*/
    .navbar {
        flex-direction: column;
        position: relative;
        height: auto;
    }
    .navbar .navbar-logo {
        width: 100%;
        
    }
    .navbar-logo {
        margin-top: 10px;
    }
    .menu {
        display: block;
        position: absolute;
        right: 15px;
        top: 15px;
    }
    .nav-list {
        list-style-type: none;
        width: 100%;
        text-align: center;
        padding-top: 10px;
        display: none;
    }
    .nav-list .list-item {
        display: block;
        border-top: 1px solid #174687;
    }

    .active {
        display: block;
    }

}
/*Media queries for footer*/
@media screen and (max-width: 600px) {
    .column-footer {
      width: 100%;
    }


    .left-align {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .flex-contact {
        justify-content: center;
        align-items: center;
    }

    .social-icons {
        display: block;
        position: static;
        margin-top: 20px;
    }

  }

@media screen and (min-width: 600px)  {
    .front-image {
        width: 70%;
        margin-top: 20px;
        height: auto;
        margin-bottom: 20px;
    }

    #forside-color{
      background-color: #F2F2F2;
    }

    
    .button-front {
        background-color: #174687;
            border: none;
            color: white;
            padding: 15px 30px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 20px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 5px;
    }
    
    .container-front {
        display: flex;
        flex-direction: row;
        margin: 0;
    }

    #reverse {
        display: flex;
        flex-direction: row-reverse;
    }

    .flex-column {
        width: 40%;
        color: #174687;
    }

    .flex-row {
        width: 40%;
    }

  

    .container-front p, h2 {
        margin-top: 20px;
    }

    .button-front {
        margin-top: 20px;
    }

    /*Big picture på forsiden*/
.bigpictureMobile {
    display: none;
}

.bigpictureWeb {
    display: block;
    
}
    
}

@media screen and (min-width: 600px) {
    .about-container {
        display: inline-block;
        text-align: center;
    }
    
    .about-container img {
        width: 700px;
        margin-top: 20px;
    }
    
    .about-container p {
        margin-top: 40px;
        text-align: left;
        width: 80%;
        line-height: 1.7;
        margin-left: auto;
        margin-right: auto;
    }
    
    .about-container h2 {
        color: #174687;
        margin-bottom: 0;
    }
    
    .history {
        margin-bottom: 60px;
    }
    
    .values {
        margin-bottom: 60px;
    }
    
    .about-line {
        border-top: 2px solid #e0d186;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    
}