* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

/*Her bliver navbaren stylet*/

.navbar {
    background-color: #FFF7D1;
    color: #174687;
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;
    font-size: 20px;
}

.navbar a {
    color: #174687;
    text-decoration: none;
}

.navbar a:hover {
    color: white;
}

.nav-list {
    list-style-type: none;
    
}

.nav-list .list-item {
    display: inline-block;
    padding: 20px 10px;
}


.navbar-logo {
    height: 35px;
}

.menu {
    display: none;
}

.menu-line {
    width: 20px;
    height: 3px;
    background-color: #174687;
    margin-bottom: 4px;
}

/*Big picture på forsiden*/
.bigpicture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*Her bliver der lavet media queries*/
@media all and (max-width: 480px) {
    /*Navbar regler for mobil*/
    .navbar {
        flex-direction: column;
        position: relative;
        height: auto;
    }
    .navbar .navbar-logo {
        width: 100%;
        
    }
    .navbar-logo {
        margin-top: 10px;
    }
    .menu {
        display: block;
        position: absolute;
        right: 15px;
        top: 15px;
    }
    .nav-list {
        list-style-type: none;
        width: 100%;
        text-align: center;
        padding-top: 10px;
        display: none;
    }
    .nav-list .list-item {
        display: block;
        border-top: 1px solid #174687;
    }

    .active {
        display: block;
    }
}