* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    background-color: #FFF7D1;
    color: #174687;
    display: flex;
    justify-content: space-around;
    
}


.nav-list {
    list-style-type: none;
    
}

.nav-list a {
    text-decoration: none;
}

.nav-list .list-item {
    display: inline-block;
}

